<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehome.css">
    <script src="https://kit.fontawesome.com/fa21cbabf2.js" crossorigin="anonymous"></script>
    <title>Student Helpdesk</title>
</head>
<body>

    <div id="preloader"></div>

    <div class="header">

    <nav>
        <img src="images/Student Helpdesk-logos_white.png" class="logo">
        <ul class="nav-links">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="contactus.html">Contact us</a></li>
        </ul>
        <a href="#" class="register-btn">View Profile</a>
    </nav>

    <div class="container">
        <h1>Empower Educate Inspire Succeed</h1>
    </div >

    
    </div>

    <div class="container">
        <h1 class="sub-title">Campus Guide</h1>
        <div class="exclusives">
            <div >
                <a href="https://www.jmit.ac.in/upcoming-events.html"><img src="images/events1.jpg" id="event"></a>
                <span>
                    <h3 class="text">Upcoming Events</h3>
                    
                </span>
            </div>
            
            <div>
                <a href="https://www.jmit.ac.in/rulesregulations.html"><img src="images/notices.jpg" id="notices"></a>
                <span>
                    <h3 id="text2">Campus Notices</h3>
                    
                </span>
            </div>
            <div>
                <a href="https://www.jmit.ac.in/directors-message.html"><img src="images/directormsg.jpg" id="msg"></a>
                <span>
                    <h3 class="text">Director Message</h3>
                    
                </span>
            </div>
            <div>
                <a href="https://www.jmit.ac.in/mukand-in-motion.html"><img src="images/campusnews.jpg" id="news"></a>
                <span>
                    <h3>Campus News</h3>
                    
                </span>
            </div> 
            <div>
                <a href="contactus.html"><img src="images/contactstaff.jpg" id="cns"></a>
                <span>
                    <h3>Contact Staff</h3>
                </span>
            </div> 

        </div>
        
        

        <h1 class="sub-title">Our Offerings</h1>
        <div class="trending">
            <div>
                <a href="#"><img src="images/Reports.jpg"></a>
                <h3>Reports</h3>
            </div>
            
            <div>
                <a href="SYLL CSE.html"><img src="images/syllabus.jpg"></a>
                <h3>Syllabus</h3>
            </div>

            <div>
                <a href="timetable.html"><img src="images/timetable.jpg"></a>
                <h3>TimeTable</h3>
            </div>

            <div>
                <a href="notes.html"><img src="images/notes.jpg"></a>
                <h3>Notes</h3>
            </div>

           
        </div>

        <div class="cta">
            <h3>Grow Your Career With</h3>
            <p>Career Guides and Roadmap From Experts</p>
            <br>
            <a href="#" class="ctn-btn">Know More</a>
        </div>

        

        <div class="about-msg">
        <h2 class="sub-title">About Student Helpdesk</h2>
        <p>A Student Helpdesk website is an online platform designed to provide support,
             information, and resources to students in an educational institution.
              This website serves as a valuable resource for students seeking assistance with various aspects of their academic journey. 
              Here's an overview of the key features and functions typically found on a student helpdesk website. 
              a student helpdesk website aims to enhance the overall educational experience by providing students with a centralized platform for accessing support, 
              information, and resources that are vital to their success in their academic journey.</p>
        </div>

        <footer class="footer">
            <a href="http://facebook.com" class="fa-brands fa-facebook-f"></a>
            <a href="http://youtube.com" class="fa-brands fa-youtube"></a>
            <a href="http://twitter.com" class="fa-brands fa-twitter"></a>
            <a href="http://instagram.com" class="fa-brands fa-instagram"></a>
            <a href="http://linkedin.com" class="fa-brands fa-linkedin-in"></a>

            <hr>
            <p>@ Copyright Student Helpdesk</p>

        </footer>

    </div>

    <script>

           var loader = document.getElementById("preloader");
           window.addEventListener("load",function(){

            setInterval(() => {
                loader.style.display="none";
            }, 1500);
           })

    </script>
    
</body>
</html>